@model DSS.MoHra.Models.HomeViewModel
@{
    ViewBag.Title = "Заглавная страница";
}

@if (Model.NextQuestion != null)
{
    using (Html.BeginForm())
    { 
        <div class="box">
            <div class="box-header">
                <h2 class="box-title">@Model.NextQuestion.Text</h2>
            </div>
            <div class="box-body">
                <div class="list-group">
                    @foreach (var variant in Model.NextQuestion.QuestionVariants.OrderBy(d => d.Sort))
                    {
                        if (Model.NextQuestion.IsMultiVariant)
                        {
                            <label class="list-group-item">
                                @Html.CheckBox("questionVariantId", false, new { id = "questionVariantId-" + variant.Id, data_iid = variant.Id })
                                @variant.Text
                            </label>
                        }
                        else
                        {
                            <label class="list-group-item">
                                @Html.RadioButton("questionVariantGroup", false, new { id = "questionVariantId-" + variant.Id, data_iid = variant.Id })
                                @variant.Text
                            </label>
                        }
                    }
                    @if(!Model.NextQuestion.IsMultiVariant)
                    {
                        @Html.Hidden("questionVariantId")
                    }
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Ответить</button>
            </div>
        </div>
    }
}
else
{
    <div class="alert alert-danger">
        Извините, нет данных.
    </div>
}

@if (Model.NextQuestion != null && !Model.NextQuestion.IsMultiVariant)
{
    <script type="text/javascript">
        $(function () {
            $('input[type="radio"]').on('change', function () {
                $('#questionVariantId').val($(this).attr('data-iid'));
            });
        });
    </script>
}